:root{
    --bg: #161B22;
    --bg-calc: #0D1117;
    --gray: #7e7e87;
    --light-gray: #CCCCCC;
    --orange: #F1A02A;
    --white: #F6F6F6;
    --light-orange: #FECC4C;
    --red-orange: rgb(255, 64, 0);
    --blue: #1983fc;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 22px;
    font-family: 'Orbitron', sans-serif;
    height: 100vh;
    overflow-y: scroll;
    background-color: var(--bg);
    user-select: none;
}
@media(max-width: 1400px){
    body{
        font-size: 20px;
    }
}
@media(max-width: 990px){
    body{
        font-size: 18px;
    }
}
@media(max-width: 490px){
    body{
        font-size: 16px;
    }
}
.header{
    text-align: center;
    padding: 1rem 0;
    color: var(--red-orange);
    border-bottom: 4px solid var(--red-orange);
}
.main{
    display: flex;
    justify-content: center;
}
.footer{
    text-align: center;
    color: var(--white);
}
.calc-container{
    display: flex;
    flex-direction: column;
   margin: 2rem 0;
    background: var(--bg-calc);
    box-shadow: 0 0 3rem 1rem rgba(47, 47, 47, 0.524);
}
@media(min-width: 1400px){
    .calc-container{
        width: 30rem;
        height: 40rem;
    }
}
@media(min-width: 990px){
    .calc-container{
        width: 28rem;
        height: 37rem;
    }
}
@media(min-width: 490px){
    .calc-container{
        width: 26rem;
        height: 36rem;
    }
}
@media(min-width: 390px){
    .calc-container{
        width: 24rem;
        height: 35rem;
    }
}
.screen{
    flex: 2;
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    font-weight: 400;
    padding: 1rem;
    padding-right: 2rem;
    color: var(--white);
    transition: all 1s ease;
    text-align: right;
}
.operation-screen{
    flex: 1;
    max-height: 3rem;
    font-size: 1.3rem;
    color: var(--light-gray);
    overflow-y: scroll;
}
.operation-screen::-webkit-scrollbar{
    width: 0px;
    background-color: rgba(255, 255, 255, 0);
}
.input-screen{
    flex: 2;
}

.buttons-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    flex: 5;
}
.btn{
    display: flex;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: var(--light-orange);
    cursor: pointer;
}
.btn:hover{
    opacity: .9;
}
.clr{
    background-color: var(--light-gray);
    grid-column-start: 1;
    grid-column-end: 3;
}
.delete{
    background-color: rgb(255, 59, 59);
}
.num[value="0"]{
    grid-column-start: 1;
    grid-column-end: 3;
}
.opr{
    background-color: var(--blue);
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: var(--light-gray);
}
